
#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: start;
    padding: 100px;

    gap: 100px;
    
  }
  
  #home p {
    font-size: 1.6rem;
    color: #ffffff; 
  }
  
  #home h1 {
    font-size: 43px;
    color: #ffffff; 
    margin-bottom: 20px;
  }
  
  .buttonProjects {
    padding: 15px 25px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #12bcfa;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 0px;
    
}
.buttonServices{
  padding: 15px 25px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    background-color:transparent;
    border: 2px white solid;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 30px;
  
}
#home button:hover {
    background-color: #12bcfa;
    animation: pulse 1s;
   
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #12bcfa;
    }
    70% {
        box-shadow: 0 0 0 50px rgba(33, 212, 33, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(33, 212, 33, 0);
    }
}

  
  #home img{
    margin-top: 30px;
    width: 350px;
    border-radius: 100px;
}


  .SobreHome{
    width: 500px;

  }

  @media screen and (max-width: 840px) {
    #home{
      flex-direction: column;

      padding: 0px;
      padding-top: 100px;
  }
  #home img{
    margin: 0px;
    width: 150px;
    border-radius: 40px;
    box-shadow: #333;

}
#home p {
  font-size: 1.3rem;
  color: #ffffff; 
 
}

#home h1 {
  font-size: 28px;
  color: #ffffff; 
  margin-bottom: 0px;
  margin: 0px;
  gap: 0px;
}

.SobreHome{
  width:350px;

}
}
