.Project img{
    width: 250px;
    border-radius:20px;

}
.Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 300px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 15px;
}
.Project a{
   text-decoration: none;
   color: #333;
   margin-top: 20px;
}
.Project h3{
   color: #171717;
   letter-spacing: 2px;
}

.AllTheProjects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius:40px;
    flex-wrap: wrap; 
    gap: 20px;
}
.AboutTheProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 2rem;
    color: #333;
}


.AboutTheProjects img{
    width: 100%;
    height: 100%;
}