
.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly; 
  align-items: center;
  margin: 20px;
  text-align: center;
}
.skillName{
  font-size: 1.1rem;
}
#skills h1{
  margin-bottom: 80px;
  font-size: 2rem;
}
#skills h2{
  color: rgba(138, 138, 138, 0.173);
}

#skills {
 
  position: relative;
  text-align: center;
  padding-bottom: 95px;
  padding-top: 95px;
  margin-bottom: 100px;
}


.backgroundText {
  font-size: 100px;
  background-color: #7c7c7c00;
  position: absolute;
  top: 80px;
  left: 0; 
  right: 0; 
  margin: 0px; 
}

.Skill{
  background-color: #232323;
  border-radius: 20px;
  width: 200px;
  padding: 10px;
  height: 110px;
}